<div class="main_content">
    <h1> Details of your Convocation Ceremony</h1>

    <p>Your convocation ceremony will take place on:</p>

    <h3>Thursday, une 16, 2022 at 10:00 a.m.</h3>

    <p>Graduates must arrive 1.5 hours prior to the start of the ceremony.</p>

    <p>Location: The Toronto Congress Centre, click <a href="#">here</a> for directions.</p>

    <b>A convocation information package, including two guest tickets, will be mailed to the address on your file one
        week before the ceremony.</b>

    <p>Additional information can be found at <a href=""></a>. </p>

    <p>We look forward to celebrating your achievements with you!</p>
</div>