<h1>Apply to attend Convocation</h1>

<p>Congratulations on reaching this point in your academic journey! </p>

<p> The application to confirm your attendance will be available one month prior to the June and November ceremonies. IF you are eligible to graduate, or completed your program in December, you will receive an email invitation to attend the ceremony two months before the event.</p>

<p> Please complete the following on <a href="#">MyHumber</a> to prepare for convocation:</p>

<ol>
    <li> View your Academic Progress to ensure your program requirements have been met</li>
    <li> View your Deposit Payment History/Account Information to ensure you have no outstanding balance</li>
    <li> View you Personal Information to update your email and mailing address to receive convocation information and updates</li>
</ol>

<p> Additional information and frequently asked questions can be found at <a href="#"></a> </p>

<p> Look forward to celebrating your achievements with you!</p>