<h1>Apply to Attend Convocation</h1>

<p>Congratulations on reaching this point in your academic journey!</p>

<p>We currently do not have you recorded as a potential graduate. If you have completed your program requirements, you must full out the Records/Registration Inquiry e-form on <a href="#">MyHumber</a> prior to May 20th with the following information</p>

<ul>
    <li>Program you are graduating from</li>
    <li>Campus</li>
    <li>Your exoected graduation date</li>
</ul>

<p>If your are eligible to graduate before the deadline date, yor record will be updated within 24-48 hours and you must return to this application to confirm your attendance.</p>

<b>This application to attend convocation will be closed approximately three weeks prior to the event</b>